<%- include('partials/header'); -%>

<div class="container">
    <div class="heading">
        Lorem ipsum, dolor sit amet consectetur adipisicing
    </div>
    <div class="content">
        <p> <%= starter %> </p>
    </div>
</div>

<%- include('partials/footer'); -%>    