<%- include('partials/header') -%>
<div class="spaceContainer">
</div>
<h1><%= post.title %></h1>
    <div class="container">
        <div class="content">
            <p> <%= post.content %> </p>
        </div>
    </div> 

<%- include('partials/footer') -%>